|Name|Stmts|Miss|Cover|
|---|---|---|---|
|app__init__.py |31|4|87%|
|app\forms.py|27|0|100%|
|app\models.py|35|0|100%|
|app\routes.py|182|130|29%|
|tests\test_black.py|13|0|100%|
|tests\test_white.py|19|0|100%|
|TOTAL|307|134|56%|
